.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 20px;
    gap: 100px;
margin: 7% 0%;
}

.card{
    width:300px
}

.card-img{
    height: 200px;
    width: 100%;

}
.card p {
    text-align: center;
}
.main-container button{
    height: 40px;
    width: 94%;
    align-self: center;
    margin: 2% 10%;

    
}
.main-container button:hover{
    background-color: aquamarine;
}